<!DOCTYPE html>
 <html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title><%= title %></title>
 </head>
<body>
<form method = "post" action="/edit_task">
 	<table align="center" >
		<tr>
            <td>
                <div>
                <label>Survey ID:</label>
                 </div>
             </td>
            <td>
                 <div>
                <label>Game genre:</label>
                 </div>
             </td>
            <td>
                 <div>
                <label>Days Per year:</label>
                 </div>
            </td>
            <td>
                <div>
                 <label>Age:</label>
                 </div>
             </td>           
        </tr>
 	<% tasks.forEach(function(survey){ %>
 		<tr>
            <td>
                <div>
                 <input type="text" name="taskId" value="<%= survey.surveyId %>"/>
                 </div>
             </td>
            <td>
                 <div>
                 <input type="text" name="taskName" value="<%= survey.gameGenre %>"/>
                 </div>
             </td>
            <td>
                 <div>
                 <input type="text" name="taskDescription" value="<%= survey.daysPerYear %>"/>
                 </div>
            </td>
            <td>
                <div>
                 <input type="text" name="startDate" value="<%= survey.age %>" />
                 </div>
             </td>
        </tr>
 	<% })%>
 	</table>
 </form>
 </body>
 </html>
